---
title: 'Boletín: Verificación de la propiedad de la aplicación en anuncios de Meta'
metadata:
  keywords:
    - Facebook
    - Advertisers
    - Marketers
    - Mobile Attribution
table_of_contents: false
x-zendesk:
  category: Marketers
  category_id: 6550444307985
  content_tags:
    - pm-shay-maoz
    - Marketers
    - Mobile Attribution
  created_at: '2022-04-12T09:40:58Z'
  edited_at: '2026-10-20T03:56:42Z'
  id: 5410285239313
  locale: es
  section: Bulletins
  section_id: 6551161473041
  url: https://support.appsflyer.com/hc/es/articles/5410285239313
---
| **Fecha del boletín** | 7 de abril de 2022 |
| --- | --- |
| **¿Qué hay de nuevo?** | **¡<span id="h_01HG5TS8MTCHDMF3J56ADXX466"></span>Importante!**<br />A partir de la primera mitad de 2023, todos los propietarios de aplicaciones deberán confirmar la propiedad de cualquier aplicación móvil Android o iOS, tanto para aplicaciones nuevas como **existentes**. Si no se ha confirmado la propiedad de la aplicación, los anunciantes no podrán optimizar los anuncios de sus aplicaciones para las instalaciones de aplicaciones móviles.<br /><br /><br /><br />A partir del 7 de abril de 2022, los propietarios de aplicaciones nuevas que se agreguen a Anuncios de Meta (anteriormente Anuncios de Facebook) deberán confirmar su propiedad de las aplicaciones. Este cambio se aplica a todas las plataformas de publicidad de Meta como FB, IG, Messenger, FAN, etc., y a todos los sistemas operativos.<br /><br />**Si no se confirma la propiedad, los anunciantes pueden perder el acceso a la plataforma o sufrir otro tipo de interrupción de la aplicación y no podrán:**<ul><li>**Ejecutar el objetivo de la campaña de instalación de aplicaciones móviles**</li><li>**Optimizar la entrega de sus anuncios de aplicaciones para las instalaciones de aplicaciones móviles**</li></ul> |
| **¿Qué debo hacer?** | Los anuncios de Meta requieren que los anunciantes que agreguen nuevas aplicaciones o editen aplicaciones que se hayan agregado después del 7 de abril confirmen la propiedad de sus aplicaciones. El primer paso es actualizar el archivo<br />app-ads.txt en el dominio del sitio web que aparece en tu ficha de la tienda de aplicaciones. A continuación, ve al panel de control de aplicaciones de Meta for Developers, introduce tu ID de aplicación y confirma tu propiedad.<br />Los anuncios de Meta verificarán que tu archivo app-ads.txt exista en la URL de dominio proporcionada y confirmarán la propiedad de la aplicación.<ul><li>**Consulta las <Anchor target="_blank" href="https://www.facebook.com/business/help/441531361057663">instrucciones detalladas</Anchor> para confirmar la propiedad de la aplicación.**</li><li>**Consulta la <Anchor target="_blank" href="https://developers.facebook.com/docs/audience-network/optimization/best-practices/troubleshoot-app-ads">guía de resolución de problemas</Anchor> si tienes problemas con app-ads.txt.**</li><li>**Saber más sobre las <Anchor target="_blank" href="https://iabtechlab.com/wp-content/uploads/2019/03/app-ads.txt-v1.0-final-.pdf?fbclid=IwAR2U1W8QXLcH3OGdB-yLpkH6irqyCijwhYH-gf52BbsRHUu3hpnS4IDlWac">especificaciones requeridas para app-ads.txt</Anchor>.**</li></ul> |
| **PREGUNTAS FRECUENTES** | <ul><li>**¿Puedo seguir anunciando una aplicación si no la he autenticado?**<br />La única forma de seguir anunciando aplicaciones no autenticadas enviadas después del 7 de abril es agregar el enlace de la tienda de aplicaciones asociada y no optimizarlo para la instalación de la aplicación. La autenticación de aplicaciones solo restringe el uso de la optimización para la instalación de aplicaciones, no la publicidad en general.</li><li>**¿Tengo que volver a publicar mi SDK en Play Store o en la tienda de aplicaciones después de añadir app-ads.txt?**<br />Sí, el propietario de una aplicación tendría que actualizar la ficha de su tienda de aplicaciones en Play Store (Android) y en la tienda de aplicaciones (iOS) después de añadir app-ads.txt a su sitio web para desarrolladores, ya que la ficha de la tienda de aplicaciones tendría que actualizarse con el nuevo sitio web para desarrolladores. Esto solo es obligatorio si el sitio web de un desarrollador no aparece previamente en el listado de la tienda de aplicaciones. Nota: Esto no es un requisito en App Store o Play Store. La aprobación de un listado de la tienda de aplicaciones tarda aproximadamente 1 semana.</li></ul> |