---
title: 'Bản tin: Xác minh quyền sở hữu ứng dụng Meta ads'
metadata:
  keywords:
    - Facebook
    - Advertisers
    - Marketers
    - Mobile Attribution
table_of_contents: false
x-zendesk:
  category: Marketers
  category_id: 6550444307985
  content_tags:
    - pm-shay-maoz
    - Marketers
    - Mobile Attribution
  created_at: '2022-04-12T09:40:58Z'
  edited_at: '2023-11-30T14:24:32Z'
  id: 5410285239313
  locale: vi
  section: Bulletins
  section_id: 6551161473041
  url: https://support.appsflyer.com/hc/vi/articles/5410285239313
---
| **Ngày của bản tin** | Ngày 7 tháng 4 năm 2022 |
| --- | --- |
| **Tính năng mới** | **<span id="h_01HG5TS8MTCHDMF3J56ADXX466"></span>Quan trọng!**<br />Bắt đầu từ thời điểm nào đó trong nửa đầu năm 2023, tất cả chủ sở hữu ứng dụng sẽ được yêu cầu xác nhận quyền sở hữu bất kỳ ứng dụng di động Android hoặc iOS nào cho cả ứng dụng mới và ứng dụng **hiện có**. Nếu quyền sở hữu ứng dụng chưa được xác nhận, nhà quảng cáo sẽ không thể tối ưu hóa quảng cáo ứng dụng của họ cho lượt cài đặt ứng dụng dành cho thiết bị di động.<br /><br /><br /><br />Bắt đầu từ ngày 7 tháng 4 năm 2022, chủ sở hữu ứng dụng của những ứng dụng mới được thêm vào Meta ads (trước đây là Facebook ads) sẽ phải xác nhận quyền sở hữu ứng dụng của họ. Thay đổi này áp dụng cho tất cả các nền tảng quảng cáo Meta như FB, IG, Messenger, FAN, v.v. và cho tất cả các hệ điều hành.<br /><br />**Nếu quyền sở hữu không được xác nhận, nhà quảng cáo có thể bị mất quyền truy cập vào nền tảng hoặc bị gián đoạn ứng dụng khác và sẽ không thể:**<ul><li>**Chạy mục tiêu chiến dịch Cài đặt Ứng dụng Di động**</li><li>**Tối ưu hóa việc phân phối quảng cáo ứng dụng của họ cho lượt cài đặt ứng dụng dành cho thiết bị di động**</li></ul> |
| **Tôi cần phải làm gì?** | Meta ads yêu cầu các nhà quảng cáo thêm ứng dụng mới hoặc chỉnh sửa ứng dụng đã được thêm sau ngày 7 tháng 4 để xác nhận quyền sở hữu ứng dụng của họ. Bước đầu tiên là cập nhật tập tin<br />app-ads.txt trên miền trang web được liệt kê trong danh sách cửa hàng ứng dụng của bạn. Sau đó, đi tới Bảng điều khiển Ứng dụng Meta dành cho Nhà phát triển, nhập ID ứng dụng và xác nhận quyền sở hữu của bạn.<br />Meta ads sẽ xác minh rằng tập tin app-ads.txt của bạn tồn tại tại URL miền được cung cấp và xác nhận quyền sở hữu ứng dụng.<ul><li>**Xem <Anchor target="_blank" href="https://www.facebook.com/business/help/441531361057663">hướng dẫn chi tiết</Anchor> để xác nhận quyền sở hữu ứng dụng.**</li><li>**Xem <Anchor target="_blank" href="https://developers.facebook.com/docs/audience-network/optimization/best-practices/troubleshoot-app-ads">hướng dẫn khắc phục sự cố</Anchor> về các vấn đề với app-ads.txt.**</li><li>**Tìm hiểu thêm về <Anchor target="_blank" href="https://iabtechlab.com/wp-content/uploads/2019/03/app-ads.txt-v1.0-final-.pdf?fbclid=IwAR2U1W8QXLcH3OGdB-yLpkH6irqyCijwhYH-gf52BbsRHUu3hpnS4IDlWac">các thông số kỹ thuật bắt buộc cho app-ads.txt</Anchor>.**</li></ul> |
| **Câu hỏi thường gặp** | <ul><li>**Nếu chưa xác thực một ứng dụng, liệu tôi vẫn có thể quảng cáo ứng dụng đó không?**<br />Cách duy nhất để tiếp tục quảng cáo các ứng dụng chưa được xác thực được gửi sau ngày 7 tháng 4 là thêm liên kết cửa hàng ứng dụng được liên kết và không tối ưu hóa cho lượt cài đặt ứng dụng. Xác thực ứng dụng chỉ hạn chế việc sử dụng tối ưu hóa cài đặt ứng dụng chứ không hạn chế quảng cáo tổng thể.</li><li>**Tôi có phải phát hành lại SDK của mình trên Play Store hoặc App Store sau khi thêm tệp app-ads.txt không?**<br />Có, chủ sở hữu ứng dụng sẽ phải cập nhật danh sách cửa hàng ứng dụng của họ trên Play Store (Android) và App Store (iOS) sau khi thêm app-ads.txt vào trang web dành cho nhà phát triển của họ, vì danh sách cửa hàng ứng dụng cần phải được cập nhật thành trang web mới của nhà phát triển. Điều này chỉ bắt buộc nếu trang web của nhà phát triển trước đây chưa được liệt kê vào danh sách cửa hàng ứng dụng. Lưu ý: Đây không phải là yêu cầu trên App Store hoặc Play Store. Quá trình phê duyệt danh sách cửa hàng ứng dụng mất khoảng 1 tuần.</li></ul> |