---
title: 'Bulletin : vérification de la propriété Meta ads'
metadata:
  keywords:
    - Facebook
    - Advertisers
    - Marketers
    - Mobile Attribution
table_of_contents: false
x-zendesk:
  category: Marketers
  category_id: 6550444307985
  content_tags:
    - pm-shay-maoz
    - Marketers
    - Mobile Attribution
  created_at: '2022-04-12T09:40:58Z'
  edited_at: '2023-11-27T14:03:06Z'
  id: 5410285239313
  locale: fr
  section: Bulletins
  section_id: 6551161473041
  url: https://support.appsflyer.com/hc/fr/articles/5410285239313
---
| **Date du bulletin** | 7 avril 2022 |
| --- | --- |
| **Quoi de neuf ?** | **<span id="h_01HG5TS8MTCHDMF3J56ADXX466"></span>Important !**<br />Depuis le premier semestre 2023, tous les propriétaires d'app doivent confirmer la propriété de toute application mobile Android ou iOS, qu'elle soit nouvelle ou **existante**. Si la propriété de l'application n'est pas confirmée, les annonceurs ne peuvent pas optimiser leurs publicités pour les installations d'app mobile.<br /><br /><br /><br />Depuis le 7 avril 2022, les propriétaires des nouvelles applications ajoutées à Meta ads doivent confirmer qu'ils sont bien propriétaires de ces applications. Ce changement s'applique à toutes les plateformes publicitaires Meta telles que FB, IG, Messenger, FAN, etc,ainsi qu'à tous les systèmes d'exploitation.<br /><br />**Si la propriété n'est pas confirmée, les annonceurs peuvent perdre l'accès à la plateforme ou rencontrer d'autres problèmes avec leur application, et ne plus être en mesure de l'utiliser :**<ul><li>**Lancer l'objectif de la campagne d'installation d'apps mobile**</li><li>**Optimiser la diffusion de leurs publicités pour les installations d'apps mobile**</li></ul> |
| **Que faut-il faire ?** | Meta ads exige des annonceurs qui ajoutent de nouvelles apps, ou modifient une app ajoutée après le 7 avril, qu'ils confirment qu'ils sont bien propriétaires de l'app. La première étape consiste à mettre à jour le fichier<br />app-ads.txt sur le domaine du site web indiqué dans votre liste d'app store. Ensuite, ouvrez le tableau de bord Meta pour les développeurs, entrez votre ID d'application et confirmez votre propriété.<br />Meta ads vérifiera que votre fichier app-ads.txt existe dans l'URL du domaine fourni puis confirmera la propriété de l'application.<ul><li>**Voir les <Anchor target="_blank" href="https://www.facebook.com/business/help/441531361057663">instructions détaillées</Anchor> pour confirmer la propriété d'une application.**</li><li>**Voir le <Anchor target="_blank" href="https://developers.facebook.com/docs/audience-network/optimization/best-practices/troubleshoot-app-ads">guide de dépannage</Anchor> pour résoudre les problèmes liés à app-ads.txt.**</li><li>**En savoir plus sur les <Anchor target="_blank" href="https://iabtechlab.com/wp-content/uploads/2019/03/app-ads.txt-v1.0-final-.pdf?fbclid=IwAR2U1W8QXLcH3OGdB-yLpkH6irqyCijwhYH-gf52BbsRHUu3hpnS4IDlWac">conditions requises pour app-ads.txt</Anchor>.**</li></ul> |
| **FAQ** | <ul><li>**Puis-je faire de la publicité pour une application si je ne l'ai pas authentifiée ?**<br />Le seul moyen de promouvoir des applications soumises après le 7 avril et non authentifiées, est d'ajouter le lien vers l'app store associé et de ne pas optimiser l'installation de l'application. L'authentification des apps ne limite que l'optimisation de l'installation des applications, et non le procédé publicitaire publicité global.</li><li>**Dois-je publier à nouveau mon SDK sur Play Store ou App Store après avoir ajouté le fichier app-ads.txt ?**<br />Oui, le propriétaire d'une app doit mettre à jour sa liste d'applications sur le Play Store (Android) et l'App Store (iOS) après avoir ajouté app-ads.txt à son site web de développement, car la liste d'applications doit être mise à jour en fonction du nouveau site de développement. Cette étape n'est requise que si le site web de développement n'a pas été répertorié auparavant dans la liste de l'app store. Remarque : il ne s'agit pas d'une exigence provenant de l'App Store ou du Play Store. L'approbation de l'inscription dans l'app store prend environ une semaine.</li></ul> |