---
title: お知らせ：
metadata:
  keywords:
    - Facebook
    - Advertisers
    - Marketers
    - Mobile Attribution
table_of_contents: false
x-zendesk:
  category: Marketers
  category_id: 6550444307985
  content_tags:
    - pm-shay-maoz
    - Marketers
    - Mobile Attribution
  created_at: '2022-04-12T09:40:58Z'
  edited_at: '2026-10-14T09:32:45Z'
  id: 5410285239313
  locale: ja
  section: Bulletins
  section_id: 6551161473041
  url: https://support.appsflyer.com/hc/ja/articles/5410285239313
---
| **更新日** | 2022年4月7日 |
| --- | --- |
| **更新情報** | **<span id="h_01HG5TS8MTCHDMF3J56ADXX466"></span>重要！**<br />2023年前半から、すべてのアプリ所有者は、新規アプリと **既存の**アプリの両方でAndroidまたはiOSモバイルアプリの所有権を確認する必要があります。アプリの所有権が確認されていない場合、広告主様はモバイルアプリのインストールに合わせてアプリ広告を最適化できません。<br /><br /><br /><br />2022年4月7日より、Meta広告（旧Facebook広告）に新たに追加されるアプリの所有者は、アプリの所有権の確認が必要になります。この変更は、Facebook、Instagram、Messenger、FANなどすべてのMeta広告プラットフォーム、およびすべてのOS (iOS & Android) に適用されます。<br /><br />**所有権が確認されない場合、広告主はプラットフォームへのアクセス権喪失やその他の不具合の発生、また以下のことができなくなる可能性があります：**<ul><li>**モバイルアプリインストールキャンペーンの実施**</li><li>**モバイルアプリのインストールを目的としたアプリ広告の配信の最適化**</li></ul> |
| **必要な対応** | Meta広告では、4月7日以降に新規にアプリを追加したり、アプリを編集したりする広告主に対して、アプリの所有権を確認するよう求めています。<br />その後、Meta for Developers App Dashboardにアクセスし、アプリIDを入力し、所有権を確認します。<br />Meta広告、提供されたドメインURLにお客様のapp-ads.txtファイルが存在することを確認し、アプリの所有権を確認します。<ul><li>アプリの所有権の確認については、**詳細説明**をご覧ください。</li><li>app-ads.txtに関する問題については、**トラブルシューティングガイド**を参照してください。</li><li>**app-ads.txtの必須仕様の詳細はこちら**</li></ul> |
| **よくある質問** | <ul><li>**アプリを認証していない場合でも、広告を出すことはできますか？**<br />4月7日以降に申請された未認証アプリの広告を継続するには、関連するアプリストアのリンクを追加し、アプリインストールの最適化を行わない方法のみとなります。アプリ認証はアプリインストール最適化の利用を制限するだけで、広告全体の利用を制限するものではありません。</li><li>これは、デベロッパーのウェブサイトが以前にアプリストアのリストに掲載されていなかった場合にのみ必要です。注記：注意）この対応はApp Store、GooglePlay Store側では必須ではありません。アプリストアの掲載承認には、約1週間かかります。</li></ul> |