---
title: '업데이트 알림:'
metadata:
  keywords:
    - Facebook
    - Advertisers
    - Marketers
    - Mobile Attribution
table_of_contents: false
x-zendesk:
  category: Marketers
  category_id: 6550444307985
  content_tags:
    - pm-shay-maoz
    - Marketers
    - Mobile Attribution
  created_at: '2022-04-12T09:40:58Z'
  edited_at: '2026-10-14T10:26:33Z'
  id: 5410285239313
  locale: ko
  section: Bulletins
  section_id: 6551161473041
  url: https://support.appsflyer.com/hc/ko/articles/5410285239313
---
| **게시일** | 2022년 4월 7일 |
| --- | --- |
| **새로운 소식** | **<span id="h_01HG5TS8MTCHDMF3J56ADXX466"></span>중요!**<br />2023년 상반기부터 모든 앱 소유자는 신규 및 **기존** 앱 모두에 대해 안드로이드 또는 iOS 모바일 앱의 소유권을 확인해야 합니다. 앱 소유권이 확인되지 않은 경우 광고주는 모바일 앱 설치에 맞게 앱 광고를 최적화할 수 없습니다.<br /><br /><br /><br />2022년 4월 7일부터 Meta 광고에 추가된 새 앱(이전 명칭: Meta 광고)의 앱 소유자는 앱의 소유권을 확인해야 합니다. 이 변경 사항은 FB, IG, Messenger, FAN 등과 같은 모든 Meta 광고 플랫폼과 모든 운영 체제에 적용됩니다.<br /><br />**소유권이 확인되지 않으면 광고주는 플랫폼 액세스 권한을 상실하거나 기타 앱 장애를 겪을 수 있으며 다음을 수행할 수 없습니다.**<ul><li>**모바일 앱 설치 실행 캠페인 목표**</li><li>**모바일 앱 설치를 위한 앱 광고 게재 최적화**</li></ul> |
| **어떻게 해야 하나요?** | Meta 광고를 사용하려면 4월 7일 이후에 추가된 앱을 새로 추가하거나 수정하는 광고주에게 앱 소유권을 확인하도록 요구합니다.<br />그런 다음 Meta for Developers 앱 대시보드로 이동하여 앱 ID를 입력하고 소유권을 확인합니다.<br />Meta 광고는 제공된 도메인 URL에 app-ads.txt 파일이 있는지 확인하고 앱 소유권을 확인합니다.<ul><li>앱 소유권 확인에 대한 **자세한 안내**를 참조하세요.</li><li>app-ads.txt 관련 문제는 **문제 해결 가이드**를 참조하세요.</li><li>**app-ads.txt 필수 사양**에 대해 자세히 알아보세요.</li></ul> |
| **자주 묻는 질문** | <ul><li>**인증하지 않은 앱을 계속 광고할 수 있나요?**<br />4월 7일 이후에 제출된 인증되지 않은 앱을 계속 광고하는 유일한 방법은 앱 설치에 최적화하지 않고 연결된 앱 스토어 링크를 추가하는 것입니다. 앱 인증은 앱 설치 최적화의 사용만 제한하며 전체 광고는 제한하지 않습니다.</li><li>이는 개발자 웹 사이트가 이전에 앱 스토어 목록에 나열되지 않은 경우에만 필요합니다. 참고: 참고: 앱 스토어 또는 플레이 스토어에서는 요구 사항이 아닙니다. 앱 스토어 등록정보 승인에는 약 1주일이 소요됩니다.</li></ul> |