---
title: 公告：
metadata:
  keywords:
    - Facebook
    - Advertisers
    - Marketers
    - Mobile Attribution
table_of_contents: false
x-zendesk:
  category: Marketers
  category_id: 6550444307985
  content_tags:
    - pm-shay-maoz
    - Marketers
    - Mobile Attribution
  created_at: '2022-04-12T09:40:58Z'
  edited_at: '2026-10-14T10:09:34Z'
  id: 5410285239313
  locale: zh-cn
  section: Bulletins
  section_id: 6551161473041
  url: https://support.appsflyer.com/hc/zh-cn/articles/5410285239313
---
|  | 2019年4月 |
| --- | --- |
| **最新动态** |  |
|  |  |
| **常见问题解答** | <ul><li>请注意：</li></ul> |