---
title: 'Boletim: verificação de propriedade do aplicativo Meta Ads'
metadata:
  keywords:
    - Facebook
    - Advertisers
    - Marketers
    - Mobile Attribution
table_of_contents: false
x-zendesk:
  category: Marketers
  category_id: 6550444307985
  content_tags:
    - pm-shay-maoz
    - Marketers
    - Mobile Attribution
  created_at: '2022-04-12T09:40:58Z'
  edited_at: '2026-08-18T00:20:03Z'
  id: 5410285239313
  locale: pt
  section: Bulletins
  section_id: 6551161473041
  url: https://support.appsflyer.com/hc/pt/articles/5410285239313
---
| **Data do boletim** | 7 de abril de 2022 |
| --- | --- |
| **Novidades** | **<span id="h_01HG5TS8MTCHDMF3J56ADXX466"></span>Importante!**<br />A partir do primeiro semestre de 2023, todos os proprietários de aplicativos deverão confirmar a propriedade de qualquer aplicativo móvel Android ou iOS tanto para aplicativos novos como para **já existentes**. Se a propriedade do aplicativo não tiver sido confirmada, os anunciantes não poderão otimizar seus anúncios de aplicativos para instalações de aplicativos móveis.<br /><br /><br /><br />A partir de 7 de abril de 2022, os proprietários de novos aplicativos adicionados ao Meta Ads (antigo Facebook Ads) serão obrigados a confirmar a propriedade dos aplicativos. Essa alteração se aplica a todas as plataformas de publicidade do Meta, como FB, IG, Messenger, FAN etc., e a todos os sistemas operacionais.<br /><br />**Se a propriedade não for confirmada, os anunciantes podem sofrer perda de acesso à plataforma ou outra interrupção do aplicativo e não poderão:**<ul><li>**Executar o objetivo da campanha de instalação do aplicativo móvel**</li><li>**Otimizar a entrega dos anúncios dos seus aplicativos para instalações de aplicativos móveis**</li></ul> |
| **O que eu preciso fazer?** | Os anúncios do Meta requerem que os anunciantes que adicionam novos aplicativos ou editam aplicativos que foram adicionados após 7 de abril confirmem a propriedade do aplicativo. O primeiro passo é atualizar o<br />arquivo app-ads.txt no domínio do site incluído no anúncio da sua loja de aplicativos. Em seguida, acesse o painel do app do Meta pra desenvolvedores, insira o ID do aplicativo e confirme sua propriedade.<br />Os anúncios do Meta verificarão se o arquivo app-ads.txt existe no URL de domínio fornecido e confirmarão a propriedade do aplicativo.<ul><li>**Consulte as <Anchor target="_blank" href="https://www.facebook.com/business/help/441531361057663">instruções detalhadas</Anchor> para confirmar a propriedade do aplicativo.**</li><li>**Consulte o <Anchor target="_blank" href="https://developers.facebook.com/docs/audience-network/optimization/best-practices/troubleshoot-app-ads">guia de identificação e solução de problemas</Anchor> para problemas com o app-ads.txt.**</li><li>**Saiba mais sobre as <Anchor target="_blank" href="https://iabtechlab.com/wp-content/uploads/2019/03/app-ads.txt-v1.0-final-.pdf?fbclid=IwAR2U1W8QXLcH3OGdB-yLpkH6irqyCijwhYH-gf52BbsRHUu3hpnS4IDlWac">especificações necessárias para app-ads.txt</Anchor>.**</li></ul> |
| **Perguntas frequentes** | <ul><li>**Ainda posso anunciar um aplicativo se não o tiver autenticado?**<br />A única maneira de continuar anunciando aplicativos não autenticados enviados após 7 de abril é adicionar o link da loja de aplicativos associada e não otimizar a instalação do aplicativo. A autenticação do aplicativo restringe apenas o uso da otimização da instalação do aplicativo, não a publicidade geral.</li><li>**Preciso republicar meu SDK na Play Store ou na App Store depois de adicionar o app-ads.txt?**<br />Sim, o proprietário de um aplicativo precisaria atualizar o anúncio da loja de aplicativos na Play Store (Android) e na App Store (iOS) depois de adicionar app-ads.txt ao site do desenvolvedor, pois o anúncio da loja de aplicativos precisaria ser atualizado para o novo site do desenvolvedor. Isso só é necessário se um site de desenvolvedor não tiver sido incluído anteriormente no anúncio da loja de aplicativos. Observação: isso não é um requisito na App Store ou na Play Store. A aprovação de um anúncio da loja de aplicativos leva cerca de 1 semana.</li></ul> |